<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Costos</title>
    <link rel="stylesheet" href="/static/css/costos.css">
</head>
<body>
    <div class="container">
        {% include 'admin/src/navbar.html' %}

        <!-- Contenido principal -->
        <main class="content">
            <header>
                <h1>Lista de Costos</h1>
                <a href="{{ url_for('agregar_costo') }}">
                <button class="new-repartidor">Nuevo Costeo</button>
                </a>
            </header>
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Precio de gasolina</th>
                            <th>Precio x caseta</th>
                            <th>Lugar de salida</th>
                            <th>Lugar de llegada</th>
                            <th>Distancia</th>
                            <th>Tiempo</th>
                            <th>Total costo</th>
                            <th>Cliente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for costos in costos %}
                            <tr>
                                <td>{{ costos.id_costo}}</td>
                                <td>{{ costos.prec_gasolina }}</td>
                                <td>{{ costos.prec_caseta }}</td>
                                <td>{{ costos.lugar_salida }}</td>
                                <td>{{ costos.lugar_llegada }}</td>
                                <td>{{ costos.distancia }}</td>
                                <td>{{ costos.tiempo }}</td>
                                <td>{{ costos.total_costo }}</td>
                                <td>{{ costos.cliente.nombre}} {{ costos.cliente.apellidos}}</td>
                                <td>
                                    <a href="{{url_for('actualizar_costo', id=costos.id_costo)}}" class="btn-editar">Editar</a>
                                    <a href="{{url_for('eliminar_vehiculo', id=costos.id_costo)}}" class="btn-eliminar">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% include 'paginado.html' %}
        </main>
    </div>
</body>
</html>
