<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vehiculos</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <div class="container">
        {% include 'admin/src/navbar.html' %}


        <!-- Contenido principal -->
        <main class="content">
            <header>
                <h1>Lista de Vehículos</h1>
                <a href="{{ url_for('agregar_vehiculo') }}">
                <button class="new-repartidor">Nuevo Vehiculo</button>
                </a>
            </header>
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Modelo</th>
                            <th>Placas</th>
                            <th>Ultimo servicio</th>
                            <th>Proxima verificacion</th>
                            <th>Ultima tenencia</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vehiculos in vehiculos %}
                            <tr>
                                <td>{{ vehiculos.id_vehiculo}}</td>
                                <td>{{ vehiculos.modelo }}</td>
                                <td>{{ vehiculos.placas }}</td>
                                <td>{{ vehiculos.ultimo_servicio }}</td>
                                <td>{{ vehiculos.prox_verifi }}</td>
                                <td>{{ vehiculos.ultima_tenencia }}</td>
                                <td>
                                    <a href="{{url_for('actualizar_vehiculo', id=vehiculos.id_vehiculo)}}" class="btn-editar">Editar</a>
                                    <a href="{{url_for('eliminar_vehiculo', id=vehiculos.id_vehiculo)}}" class="btn-eliminar">Eliminar</a>
                                </td>                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            {% include 'paginado.html' %}
        </main>
    </div>
</body>
</html>
