<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vendedores</title>
    <link rel="stylesheet" href="/static/css/vendedores.css">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="/static/images/logo.png" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="/dashboard">Inicio</a></li>
                    <li><a href="/clientes">Lista de Clientes</a></li>
                    <li><a href="/rutas">Lista de Rutas</a></li>
                    <li><a href="/costos">Lista de Costos</a></li>
                    <li><a href="/vendedores">Lista de Vendedores</a></li>
                    <li><a href="/vehiculos">Lista de Vehículos</a></li>
                    <li><a href="/">Salir</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Contenido principal -->
        <main class="content">
            <header>
                <h1>Lista de Vendedores</h1>
                <button class="new-repartidor">Nuevo Vendedor</button>
            </header>
            <section class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Foto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vendedores in vendedores %}
                            <tr>
                                <td>{{ vendedores.id_vendedor}}</td>
                                <td>{{ vendedores.nombre }}</td>
                                <td>{{ vendedores.apellidos }}</td>
                                <td>{{ vendedores.telefono }}</td>
                                <td><img src="{{vendedores.foto }}" alt="{{ vendedores.foto }}" style="max-width: 100px;"></td>
                                <td>
                                    <button class="btn-editar">Editar</button>
                                    <button class="btn-eliminar">Eliminar</button>
                                </td>                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </div>
</body>
</html>
